{% block titleblock %}


{% endblock %}

{% block sidebar %} 

	<b><a href='/polls/test/'>HOME</a></b>
	<br>
	<br>

{% endblock %}  

{% block content %}

<div class="text2">

	<h3>
	cs256sp19 Final Project
	</h3>

	<form action="/polls/test/" method="post">{% csrf_token %}

		<p>
		<div class="ui-widget">
		<label for="id_code1"></label>
		<textarea rows="10" cols="50" id="id_code1" type="text" name="code1" maxlength="500"></textarea>
		<br>
		<input type="checkbox" name="checkbox" value="1" checked> Sentiment Analysis<br>
  		<input type="checkbox" name="checkbox" value="2" > Spam detection<br>
		</div>
		</p>

		<input type="submit" value="Submit" />

	</form>




</div>

{% endblock %}

{% block footer %}
<small>© 2019 cs256Sp19 Group 75</small>
  
{% endblock %}