{% load static %}
{% block titleblock %}


{% endblock %}

{% block sidebar %} 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


{% endblock %}  

{% block content %}

<div class="text2">
    <div class="page-header">
	    <h1>CSE256SP19 Final Project</h1>
	</div>
	<form action="/polls/test/" method="post">{% csrf_token %}

		<p>
			<div class="ui-widget">
				<label for="id_code1">Test Example:</label>
				<input class="form-control" id="id_code1" type="text" name="code1" size="50" placeholder="Input your sentence here">

				<br>
					<input type="radio"  name="radio" value="1" checked> Sentiment Analysis<br>
  					<input type="radio"  name="radio" value="2" > Spam Detection<br>
			</div>
		</p>
		<div class = "sub">
			<input class="btn btn-primary" type="submit" value="Submit" />
		</div>

	</form>
</div>

{% endblock %}

{% block footer %}
<div class="page_last">
	<small>© 2019 CSE256SP19 Group75</small>
</div>
{% endblock %}