{% block titleblock %}
<title>cs256Sp19 | Group 75</title>
{% endblock %}

{% block sidebar %} 

<div class="text2">

	<b><a href='/polls/test/'>HOME</a></b>
	<br>
	<br>
</div>

{% endblock %}  

{% block content %}

<div class="text2">

	<br> <br>
	<br>
	<br>

	<h1>
	Input is <u>{{input}} </u>.
	</h1>

	<h1>
	Result is <u>{{distance}} </u>.
	</h1>

	
	{% autoescape off %}
	<div>{{ fig }}</div>
	{% endautoescape %}


	<br>

	<b><a href="/polls/test/">back</a></b>

</div>

{% endblock %}

{% block footer %}
<small>© 2019 cs256Sp19 Group 75</small>
  
{% endblock %}